/* Custom Table Striping - Global */
.st-table-header {
    background-color: rgba(255, 255, 255, .8);
    /* Very subtle transparent white */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.st-table tbody tr:nth-child(odd) {
    background-color: var(--st-table-bg-odd);
}

.st-table tbody tr:nth-child(even) {
    background-color: var(--st-table-bg-even);
}

.st-table tbody tr:hover {
    background-color: var(--st-table-bg-hover);
}